:root {
    --base-unit: calc(100vw / 32);

    --bg-page: #ffffff;
    --bg-keyboard: #e0e0e0;
    --shadow-keyboard: rgba(0, 0, 0, 0.2);

    --bg-key: #f9f9f9;
    --shadow-key: #bbbbbb;
    --text-key: #333333;
    --border-key: #cccccc;

    --border-hover: #e74c3c;
    --border-active: #27ae60;

    --font-main: 'Questrial', sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    background-color: var(--bg-page);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-main);
}

h1 {
    color: #222;
    font-size: calc(var(--base-unit) * 1.5);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.keyboard {
    background-color: var(--bg-keyboard);
    padding: calc(var(--base-unit) / 2);
    border-radius: calc(var(--base-unit) / 5);
    border: 1px solid #ccc;
    box-shadow: 0 10px 25px var(--shadow-keyboard);

    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: calc(var(--base-unit) / 2);
    user-select: none;
}


.section {
    display: grid;
    grid-template-rows: repeat(6, var(--base-unit)); /* Змінено з 5 на 6 */
    grid-gap: calc(var(--base-unit) / 10);
}


.section.main-keys {
    grid-template-columns: repeat(30, calc(var(--base-unit) / 2));
}


.section.nav-keys {
    grid-template-columns: repeat(6, calc(var(--base-unit) / 2));
}


.section.numpad {
    grid-template-columns: repeat(8, calc(var(--base-unit) / 2));
    grid-auto-flow: dense;
}



.key {
    background-color: var(--bg-key);
    color: var(--text-key);
    border: 1px solid var(--border-key);
    border-radius: 4px;
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: calc(var(--base-unit) / 3.5);
    cursor: pointer;
    transition: all 0.05s ease;

    box-shadow: 0 calc(var(--base-unit) / 15) 0 var(--shadow-key);
    margin-bottom: calc(var(--base-unit) / 15);
}
.sm-text { font-size: 0.6em; }

.emptykey { grid-column: span 2; pointer-events: none; }

.key:active, .key.active {
    transform: translateY(calc(var(--base-unit) / 15));
    box-shadow: none;
    border-color: var(--border-active);
    color: var(--border-active);
    margin-bottom: 0;
    margin-top: calc(var(--base-unit) / 15);
}


.gap-1 { grid-column: span 2; }
.gap-05 { grid-column: span 1; }


.backspace  { grid-column: span 4; }
.tab        { grid-column: span 3; }
.backslash  { grid-column: span 3; }
.capslock   { grid-column: span 4; }
.enter      { grid-column: span 4; }
.leftshift  { grid-column: span 5; }
.rightshift { grid-column: span 5; }
.leftctrl   { grid-column: span 3; }
.rightctrl  { grid-column: span 3; }
.space      { grid-column: span 16; }


.zero { grid-column: span 4; }
.plus-num {
    grid-row: span 2;
    height: 100%;
    margin-bottom: calc(var(--base-unit) / 15);
}
.enter-num {
    grid-row: span 2;
    height: 100%;
    margin-bottom: calc(var(--base-unit) / 15);
}